* {
    box-sizing: border-box
} 

:root {
    --btns: #25F67C;
    --card-shadows: #30EBE7;
    --button-shadows: ;
    --card-bg: #258BF6;
}


body {
    background-color: black;
    color: white;
    font-family: 'Poppins';
    background: rgba(0, 0, 0, 0.6) url('images/pyrenees-g1cb71bc45_1920.jpg') no-repeat center;
    background-blend-mode: darken;
}


header {
    contain: content;
    margin-top: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.logo {
    max-height: 80px;
}

.the-parent {
    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: 25%;
    margin-right: 25%;
}

input {
    font-size: large;
}

.search-container {
    border: 5px;
    border-style: solid;
    border-color: white;
    font-size: 2rem;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: 10px 10px var(--card-shadows);
}

button {
    width:30%;
    display:block;
    border: 5px;
    border-color: white;
    border-style: solid;
    background: none;
    color: white;
    font-size: 16px;
    font-weight: 900;
    padding: 2%;
    box-shadow: 5px 5px var(--shadows);
}

button:hover {
    border: 5px;
    border-color: var(--card-shadows);
    border-style: solid;
    color: var(--btns);
}

.recent-btn {
    width:30%;
    display:block;
    border: 5px;
    border-color: var(--card-shadows);
    border-style: solid;
    background: none;
    color: var(--card-shadows);
    font-size: 16px;
    font-weight: 900;
    padding: 2%;
    margin-top: 2%;
    box-shadow: 5px 5px var(--shadows);
}

.recent-btn:hover {
    border: 5px;
    border-color: #20A7D4;
    border-style: solid;
    color: #20A7D4;
}

.current-conditions {
    background-color: none;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    font-weight: 500;
}

.five-day {
    color: black;
}

.days {
    background-color: none;
}