* {
    box-sizing: border-box
} 

:root {
    --btns: #5EC9EA;
    --borders: #C47CE6;
}

/* BACKGROUND VIDEO STYLES */
#myVideo {
    filter: brightness(40%);
    width: 100vw;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
  }


body {
    color: white;
    font-family: 'Poppins';
}


header {
    contain: content;
    margin-top: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.logo {
    width: 50%;
}

#top-row {
    display: flex; 
    flex-direction: row;
    justify-items: center;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 60px;
}

.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2.5px solid var(--borders);
    width: 45%;
    padding: 20px;
    margin-bottom: 15px;
}

.search-section p {
    font-size: 35px;
}

input {
    width: 100%;
    height: 50px;
    font-size: 20px;
}

button {
    margin-top: 10px;
    width: 100%;
    color: var(--borders);
    font-size: 30px;
    font-weight: bold;
    background-color: transparent;
    border: 5px solid var(--borders);
    padding: 10px;
}

button:hover {
    color: pink;
    border: 5px solid pink;
}

.recent-searches {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 90%;
    border-top: 2.5px solid white;
}

.recent {
    margin-top: 10px;
    width: 45%;
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: 2.5px solid white;
    padding: 5px;
}

.recent:hover {
    margin-top: 10px;
    width: 45%;
    color: pink;
    font-size: 20px;
    background-color: transparent;
    border: 2.5px solid pink;
    padding: 5px;
}

.current-wx {
    text-align: center;
    background: linear-gradient(180deg, rgba(196,124,230,0.2) 0%, rgba(255,255,255,0.2) 100%);
    width: 45%;
    padding: 20px;
    margin-bottom: 50px;
}

.current-wx p {
    font-size: 20px;
}

.current-wx img {
    width: 20%;
}

.five-day-wx {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 40px 100px 35px;
}

.wx-cards {
    background: linear-gradient(0deg, rgba(196,124,230,0.2) 0%, rgba(255,255,255,0.2) 100%);
    width: 20%;
    padding: 20px;
    margin-right: 5px;
}

.wx-cards p {
    font-size: 20px;
}

.wx-cards img {
    width: 40%;
}
